[JobType]
main="Natron"
version="default"

[SpecificJobSettings]
writer_name="Write1"

[JobTypeSettings]
path_executable="natron"
commandline="$(path_executable) -b -w $(writer_name) $(start)-$(end) $(path_scene)"


[RenderLogValidation]
; critical_error:  An error where rendering can't continue. If the process hasn't already exited due to the error itself, RaptorRender cancels the process execution. 
; critical_error_exclude:   Sometimes it might be necessary to exclude some false positives, so RaptorRender doesn't stop the execution. E.g. the "Not freed memory blocks" error in Blender which can (depending on build) occur when blender exits after finishing the render. In this case the error doesn't matter, as the render has already finished. 
; error:   Some software may print various error messages, that are not critical for render execution, but might help for debuging. RaptorRender will highlight those in orange, but they won't stop the render itself. 
; warning:   Log message that is ment as a warning. RaptorRender will highlight them in yellow.
; frame_success:   Log message that indicates, that one frame/part of the chunk has been finished
; success:   Log message that indicates, that the whole chunk has been successfully finished


; possible values for pattern types
; 0 - not set. validation will be skipped
; 1 - Log line starts with the corresponding string
; 2 - log line ends with the corresponding string
; 3 - log line contains the corresponding string
; 4 - log line matches exactly the corresponding string
; 5 - the corresponding string is a regular expression that searches for matches in the log line

; Use double semicolons in strings to declare several possible strings. Only for none regex types.
; If you want to use a double quote use two consecutive single quotes instead. " -> ''

critical_error_log="ERROR:;;Cannot load frame"
critical_error_log_pattern_type=3

critical_error_exclude_log=""
critical_error_exclude_log_pattern_type=0

error_log=""
error_log_pattern_type=0

warning_log="contains NaN values. They have been converted to 1"
warning_log_pattern_type=3

frame_success_log="==> Frame:"
frame_success_log_pattern_type=3

success_log="==> Rendering finished"
success_log_pattern_type=3


; Regular Expression examples
; A good website to test and construct Regular Expressions: https://regexr.com/
; Note: you first have to correctly escape the regex from regexr.com, so that RaptorRender can read it correctly.
; If you want to use a double quote use two consecutive single quotes instead. " -> ''
;
; Examples:
;
; regexr.com Regex      |  correctly escaped        |  meaning
;
; ([A-Z])\w+            |  "([A-Z])\\w+"            |  Select all words that start with a capital letter 
; \d{2,4}               |  "\\d{2,4}"               |  Select at least 2, at most 4 consecutive digits per selection
; KeyError|TypeError    |  "KeyError|TypeError"     |  Select either "KeyError" or "TypeError"
;  \'[^\']{5,}?\'       |  " \\'[^\\']{10,}?\\'"    |  Select all strings that are enquoted in ' ' and are longer or equal to 10 chars
;  \"[^\"]{5,}?\"       |  " \\''[^\\'']{10,}?\\''" |  Select all strings that are enquoted in " " and are longer or equal to 10 chars